﻿@model CCP.WebSiteApplication.Models.SimulationSettingsModels

<h4>SimulationSettingsModels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StartSimulation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OperatorCount" class="control-label"></label>
                <input asp-for="OperatorCount" class="form-control" />
                <span asp-validation-for="OperatorCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerCount" class="control-label"></label>
                <input asp-for="ManagerCount" class="form-control" />
                <span asp-validation-for="ManagerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeniorManagerCount" class="control-label"></label>
                <input asp-for="SeniorManagerCount" class="form-control" />
                <span asp-validation-for="SeniorManagerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomingCallsCount" class="control-label"></label>
                <input asp-for="IncomingCallsCount" class="form-control" />
                <span asp-validation-for="IncomingCallsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinDurationCall" class="control-label"></label>
                <input asp-for="MinDurationCall" class="form-control" />
                <span asp-validation-for="MinDurationCall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDurationCall" class="control-label"></label>
                <input asp-for="MaxDurationCall" class="form-control" />
                <span asp-validation-for="MaxDurationCall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

