﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="conteiner">
    <div id="statusBar" class="row">
        <div class="col-sm-offset-1 col-sm-2">Calls: <span id="callsCount"></span></div>
        <div class="col-sm-offset-2 col-sm-2"> Free employee: <span id="freeEmployeesCount"></span></div>
    </div>
    <div style="border: 1px solid black; height: 800px;" class="row">
        <div style="border: 1px solid black; height: 800px; overflow: scroll" class="col-sm-6" id="chat"></div>
        <div style="border: 1px solid black; height: 800px;  overflow: scroll" class="col-sm-6" id="employees"></div>
    </div>
</div>

<script src="~/js/signalr.min.js"></script>
<script>

    let hubUrl = window.location.origin + '/callCenter',
        employeesSection = document.getElementById("employees"),
        chatSection = document.getElementById("chat");

    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.on("InitialApp", function (_calls, _employees) {
        document.getElementById("callsCount").innerHTML = _calls.length;
        document.getElementById("freeEmployeesCount").innerHTML = _employees.length;


        let employeesSection = document.getElementById("employees");
        let chatSection = document.getElementById("chat");

        let result = [];
        _employees.forEach(function (item) {
            result.push(GetHtmlItem(item));
        });
        employeesSection.innerHTML = result.join("");

    });

    hubConnection.on("Send", function (message) {
        var chat = document.getElementById('chat');
        var elem = document.createElement('p');
        elem.innerHTML = message;
        chat.appendChild(elem);
    });



    hubConnection.start().then(function () {
        hubConnection.invoke('initialEvent');
    });

    function GetHtmlItem(model) {
        var type = GetEmployeeType(model.type);
        var result = [];

        result.push('<div class="row">');
        result.push('<div class="col-sm-8" id="' + model.id + '">' + model.id + '</div>');
        result.push('<div class="col-sm-2">' + type + '</div>');
        result.push('<div class="col-sm-2">' + model.status + '</div>');
        result.push('</div>');
        return result.join("");
    }

    function GetEmployeeType(type) {
        switch (type) {
            case 0:
                return 'operator';
                break;
            case 1:
                return 'manager';
                break;
            case 2:
                return 'senior';
                break;
        }
    }
</script>
